<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.tamanegi.wallpaper.multipicture"
          android:versionCode="20"
          android:versionName="0.4.8">

  <uses-sdk android:minSdkVersion="7" />
  <uses-feature android:name="android.software.live_wallpaper" />

  <application android:icon="@drawable/icon"
               android:label="@string/app_name">

    <!-- main live wallpaper service -->
    <service android:name=".MultiPictureService"
             android:permission="android.permission.BIND_WALLPAPER">
      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService" />
      </intent-filter>
      <meta-data android:name="android.service.wallpaper"
                 android:resource="@xml/multipicture" />
    </service>

    <!-- settings -->
    <activity android:name=".MultiPictureSetting"
              android:label="@string/app_name"
              android:exported="true" />

    <activity android:name=".QRViewer"
              android:theme="@android:style/Theme.Light"
              android:screenOrientation="portrait" />

    <!-- activity for picture source -->
    <activity android:name=".picsource.SingleSource"
              android:label="@string/pref_single_picture_title"
              android:theme="@android:style/Theme.NoDisplay">
      <intent-filter>
        <action android:name="org.tamanegi.wallpaper.multipicture.action.GET_PICTURE_SOURCE" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity android:name=".picsource.AlbumSource"
              android:label="@string/pref_album_title">
      <intent-filter>
        <action android:name="org.tamanegi.wallpaper.multipicture.action.GET_PICTURE_SOURCE" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity android:name=".picsource.FolderSource"
              android:label="@string/pref_folder_title">
      <intent-filter>
        <action android:name="org.tamanegi.wallpaper.multipicture.action.GET_PICTURE_SOURCE" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity android:name=".picsource.FolderPicker"
              android:label="@string/folder_picker_title" />

    <!-- picker service for picture source -->
    <service android:name=".picsource.SinglePickService"
             android:process=":internalPlugin" />
    <service android:name=".picsource.AlbumPickService"
             android:process=":internalPlugin" />
    <service android:name=".picsource.FolderPickService"
             android:process=":internalPlugin" />

    <!-- launch from "open" -->
    <activity android:name=".LaunchDispatcher"
              android:label="@string/app_name"
              android:theme="@android:style/Theme.NoDisplay">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.INFO" />
      </intent-filter>
    </activity>

    <!-- for shortcut -->
    <activity android:name=".CreateShortcut"
              android:label="@string/shortcut_name_settings"
              android:theme="@android:style/Theme.NoDisplay">
      <intent-filter>
        <action android:name="android.intent.action.CREATE_SHORTCUT" />
      </intent-filter>
    </activity>

  </application>

</manifest>
