<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.tamanegi.wallpaper.multipicture"
          android:versionCode="34"
          android:versionName="0.6.1b">

  <uses-sdk android:minSdkVersion="7" />
  <uses-feature android:name="android.software.live_wallpaper" />

  <application android:icon="@drawable/icon"
               android:label="@string/app_name"
               android:largeHeap="true">

    <!-- main live wallpaper service -->
    <service android:name="org.tamanegi.wallpaper.multipicture.MultiPictureService"
             android:permission="android.permission.BIND_WALLPAPER">
      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService" />
      </intent-filter>
      <meta-data android:name="android.service.wallpaper"
                 android:resource="@xml/multipicture" />
    </service>

    <!-- settings -->
    <activity android:name="org.tamanegi.wallpaper.multipicture.MultiPictureSetting"
              android:label="@string/app_name"
              android:exported="true" />

    <activity android:name="org.tamanegi.wallpaper.multipicture.QRViewer"
              android:theme="@android:style/Theme.Light"
              android:screenOrientation="portrait" />

    <!-- activity for picture source -->
    <activity android:name="org.tamanegi.wallpaper.multipicture.picsource.SingleSource"
              android:label="@string/pref_single_picture_title"
              android:icon="@drawable/ic_picsource_single"
              android:theme="@android:style/Theme.NoDisplay">
      <intent-filter>
        <action android:name="org.tamanegi.wallpaper.multipicture.action.GET_PICTURE_SOURCE" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity android:name="org.tamanegi.wallpaper.multipicture.picsource.AlbumSource"
              android:label="@string/pref_album_title"
              android:icon="@drawable/ic_picsource_album">
      <intent-filter>
        <action android:name="org.tamanegi.wallpaper.multipicture.action.GET_PICTURE_SOURCE" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity android:name="org.tamanegi.wallpaper.multipicture.picsource.FolderSource"
              android:label="@string/pref_folder_title"
              android:icon="@drawable/ic_picsource_folder">
      <intent-filter>
        <action android:name="org.tamanegi.wallpaper.multipicture.action.GET_PICTURE_SOURCE" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity android:name="org.tamanegi.wallpaper.multipicture.picsource.FolderPicker"
              android:label="@string/folder_picker_title" />

    <!-- picker service for picture source -->
    <service android:name="org.tamanegi.wallpaper.multipicture.picsource.SinglePickService">
      <intent-filter>
        <action android:name="org.tamanegi.wallpaper.multipicture.plugin.LazyPickService" />
      </intent-filter>
    </service>

    <service android:name="org.tamanegi.wallpaper.multipicture.picsource.AlbumPickService">
      <intent-filter>
        <action android:name="org.tamanegi.wallpaper.multipicture.plugin.LazyPickService" />
      </intent-filter>
    </service>

    <service android:name="org.tamanegi.wallpaper.multipicture.picsource.FolderPickService">
      <intent-filter>
        <action android:name="org.tamanegi.wallpaper.multipicture.plugin.LazyPickService" />
      </intent-filter>
    </service>

    <service android:name="org.tamanegi.wallpaper.multipicture.picsource.FolderDirectPickService"
             android:process=":internalPlugin">
      <intent-filter>
        <action android:name="org.tamanegi.wallpaper.multipicture.plugin.LazyPickService" />
      </intent-filter>
    </service>

    <!-- launch from "open" -->
    <activity android:name="org.tamanegi.wallpaper.multipicture.LaunchDispatcher"
              android:label="@string/app_name"
              android:theme="@android:style/Theme.NoDisplay">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.INFO" />
      </intent-filter>
    </activity>

    <!-- for shortcut -->
    <activity android:name="org.tamanegi.wallpaper.multipicture.CreateShortcut"
              android:label="@string/shortcut_name_settings"
              android:theme="@android:style/Theme.NoDisplay">
      <intent-filter>
        <action android:name="android.intent.action.CREATE_SHORTCUT" />
      </intent-filter>
    </activity>

  </application>

</manifest>
